@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Raleway", Arial, sans-serif;
}

.card-img-top {
  aspect-ratio: 3/4;
  object-fit: cover;
}

.card:hover {
    {
    transform: translateY(-5px);
    transition: 0.3s;
  }
}

.ads {
    {
    background: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
  }
}

h1,
h2 {
  margin-top: 20px;
}